<?xml version="1.0"?>
<model>
  <name>tienkung_dex</name>
  <version>1.0.0</version>
  <sdf version="1.11">tienkung_dex.sdf</sdf>
  <description>Tienkung-DEX robot - migration batch 1 (official URDF, hand cropped to two-finger equivalent, SDK joint naming)</description>
  <author><name>TienkungDEX project</name></author>
</model>
